---
import ThemeToggle from './ThemeToggle.astro';
---

<footer class="license-footer">
	<p class="license-footer-kicker">Brought to you by</p>
	<a href="https://wpanchorbay.com/" class="license-footer-logo">
		<img
			src="https://wpanchorbay.com/wp-content/uploads/2026/02/logo_wpanchorbay.svg"
			alt="WPAnchorBay"
			class="wpanchor-bay-logo"
		/>
	</a>
	<p>
		Revolutionizing and Forging the Future of WordPress with Cutting-Edge,
		State-of-the-Art Plugins Designed Exclusively for WooCommerce.
	</p>
	<a href="https://wpanchorbay.com/">Learn more about WPAnchorBay</a>

	<ThemeToggle />
</footer>
